@import url('https://fonts.cdnfonts.com/css/dejavu-serif');

body,
h1,
h2,
h3,
h4,
p,
ul[class],
ol[class],
li,
figure,
figcaption,
dl,
dd {
 margin: 0;
}
body{
 font-family: 'DejaVu Serif', sans-serif;
 margin : 0em 1em 1em 1em;
 padding: 16px;
 text-align:justify;
}
main{
 padding-left:8em;
 flex: 1;
}
header{
 padding-bottom: 1em;
 margin-bottom: 1em;
 border-bottom-width: 1px;
 border-bottom-style: solid;
 border-bottom-color: rgb(230, 232, 234);
}
A { text-decoration: none; }
A:link { color: #008000; }
A:visited { color: #666666; }
A:hover { text-decoration: underline; 
}
footer{
 clear: both;
 padding-top: 4em;
 text-align: center;
 font-size: 7pt;
 color: #888;
}
p{
 padding: 0pt; margin: 1ex 0em;
}
P:first-child, PRE:first-child {
 margin-top: 0pt;
}
ul{
 padding-left: 2em;
 list-style-type: square;
}

nav {
 text-align: center;
 padding-bottom: 1em;
 margin-bottom: 1em;
 border-bottom-width: 1px;
 border-bottom-style: solid;
 border-bottom-color: rgb(230, 232, 234);
}


nav ul {
 list-style-type: none;
 padding: 0;
 margin: 0;
}

nav li {
 display: inline;
 margin-right: 10px; /* Espaçamento entre os itens */
}