@import url('https://fonts.cdnfonts.com/css/dejavu-serif');

body,
h1,
h2,
h3,
h4,
p,
ul[class],
ol[class],
li,
figure,
figcaption,
dl,
dd {
 margin: 0;
}
body{
 font-family: 'DejaVu Serif', sans-serif;
 margin : 0em 1em 1em 1em;
 padding: 16px;
 text-align:justify;
}
h1 {
 font-size: 2.5rem; /* Tamanho maior para h1 */
}

h2 {
 font-size: 2rem; /* Tamanho menor que h1 */
}

h3 {
 font-size: 1.75rem; /* Tamanho menor que h2 */
}

h4 {
 font-size: 1.5rem; /* Tamanho menor que h3 */
}

h5 {
 font-size: 1.25rem; /* Tamanho menor que h4 */
}

h6 {
 font-size: 1rem; /* Tamanho menor para h6 */
}
p, li, span {
 font-size: 1.2rem;
}
main{
 margin: auto;
 width: 50%;
}
header{
 padding-bottom: 1em;
 margin-bottom: 1em;
 border-bottom-width: 1px;
 border-bottom-style: solid;
 border-bottom-color: rgb(230, 232, 234);
}
.logojava{
 font-weight: lighter;
 font-family: 'DejaVu Serif Condensed', sans-serif;
 font-style: normal;
 font-size: 2.5rem;
}
.logoblog{
 font-weight: bold;
 font-style: normal;
 font-size: 2.5rem;
 color:#008000
}
A { text-decoration: none; }
A:link { color: #008000; }
A:visited { color: #666666; }
A:hover { text-decoration: underline; 
}
footer{
 clear: both;
 padding-top: 4em;
 text-align: center;
 color: #888;
}
footer span {
 font-size: 1rem; /* Tamanho de fonte para o span dentro do footer */
}
p{
 padding: 0pt; margin: 1ex 0em;
}
P:first-child, PRE:first-child {
 margin-top: 0pt;
}
ul{
 padding-left: 2em;
 list-style-type: square;
}

nav {
 text-align: center;
 padding-bottom: 1em;
 margin-bottom: 1em;
 border-bottom-width: 1px;
 border-bottom-style: solid;
 border-bottom-color: rgb(230, 232, 234);
}

nav ul {
 list-style-type: none;
 padding: 0;
 margin: 0;
}

nav li {
 display: inline;
 margin-right: 10px; /* Espaçamento entre os itens */
 font-size: 1.2rem;
}


@media screen and (max-width: 1008px) {
 html{
  font-size:32px;
 }
 nav {
  display: none;
 }
 main{
  margin: auto;
  width: 99%;
 }
}

/*
@media screen and (max-width: 800px) {
 body{
  font-size: 64px;
  padding: 4px;
  margin : 0em 0.25em 0.25em 0.25em;
 }
 header{
  padding-bottom: 0.25em;
  margin-bottom: 0.25em;
 }
 nav {
  display: none;
 }
 main{
  margin: auto;
  width: 99%;
 }
}
*/

/*
@media screen and (min-width: 768px) {
 nav {
  display: none;
 }
 main{
  margin: auto;
  width: 90%;
 }
}*/